<!DOCTYPE html>
<html>
   <head>
      <title>Imóvel na Nuvem</title>
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <h1 class="page-header">
                  Erro 404
                  <small>p&aacute;gina n&atilde;o encontrada</small>
               </h1>
                  O endere&ccedil;o acessado n&atilde;o existe ou n&atilde;o est&aacute; dispon&iacute;vel
            </div>
         </div>
         <a href="/">voltar</a>
      </div>
   </body>
</html>