{% load static %}
<!DOCTYPE html>
<html lang="BR_PT">
<head>

    <meta charset="utf-8">
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>imóvel na nuvem</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/app-estilo.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body>

<a href="/">início</a> | <a href="/acesso/logout">sair</a>

<div>
    {% if template.message %}
    {% if template.status == 'success' %}
    <h3 style="color: green;">{{ template.message }}</h3>
    {% else %}
    <h3 style="color: red;">{{ template.message }}</h3>
    {% endif %}
    {% endif %}
</div>

{% block content %}
{% endblock %}

</body>
</html>

<script>

    function recuperarRegistroPorAno(endpoint, ano) {
        try {
            window.location.href = endpoint + ano;
        } catch (e) {
            console.log(`Erro ao recuperar registros por ano: ${e}`);
        }
    }

    window.onload = function () {
        if (window.jQuery) {
            console.log('jQuery loaded!');
        } else {
            console.log('jQuery not loaded! =-(');
        }
    }

</script>