<!DOCTYPE html>
<html lang="BR_PT">
<head>

    <meta charset="utf-8">
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>imóvel na nuvem</title>

</head>
<body>

    <a href="/">início</a> | <a href="/acesso/logout">sair</a>

    <div>
        {% if template.message %}
            {% if template.status == 'success' %}
                <h3 style="color: green;">{{ template.message }}</h3>
            {% else %}
                <h3 style="color: red;">{{ template.message }}</h3>
            {% endif %}
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>