{% extends 'innapp/base.html' %}
{% load humanize %}
{% load table_tags %}
{% block content %}

<div class="panel-heading">
    <h3 class="panel-title">
        Relatório aluguel {{ template.type_reg }}
    </h3>
</div>

<div class="panel-body">
    <div class="col-md-4 selecao-ano">
        <label for="ano_aluguel">Selecione o mês para visualizar {{ template.type_reg_pl }}</label>
    </div>
    <div class="col-md-2">
        <select name="ano_registro" class="form-control"
                onchange="javascript:recuperarRegistroPorAno('/rel/{{template.type_reg}}/lista/mes/', this.value);">
            {% for mes in template.available_months %}
                <!-- Forçando a comparação entre valores inteiros -->
                {% if template.selected_month|add:0 == mes|add:0 %}
                    <option value="{{mes}}" selected>{{mes}}</option>
                {% else %}
                    <option value="{{mes}}">{{mes}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div>

<div>
    {% render_table template.all %}
</div>

{% endblock %}