{% extends 'innapp/base.html' %}
{% load humanize %}
{% block content %}

<div class="panel-body">
    <div class="col-md-4 selecao-ano">
        <label for="ano_aluguel">Selecione o ano para visualizar os aluguéis</label>
    </div>
    <div class="col-md-2">
        <select name="ano_aluguel" class="form-control"
                onchange="javascript:recuperarRegistroPorAno('/rel/aluguel/lista/ano/', this.value);">
            {% for ano in template.available_years %}
                <!-- Forçando a comparação entre valores inteiros -->
                {% if template.selected_year|add:0 == ano|add:0 %}
                    <option value="{{ano}}" selected>{{ano}}</option>
                {% else %}
                    <option value="{{ano}}">{{ano}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div>

<div class="tab-content">
    <div id="aluguel-mes-ano" class="tab-pane panel panel-default fade in active">
       <div class="panel-heading">
          <h3 class="panel-title">
             Relat&oacute;rio de aluguéis mês/ano
          </h3>
       </div>
       <!-- Grid -->
       <div class="panel-body">
          <div class="col-md-12">
             <div id="despesa_real_mes_div" class="form-group table-responsive">
                <table id="aluguel-mes" class="table-striped" width="100%">
                   <thead>
                      <tr>
                         <th>
                            m&ecirc;s/ano
                         </th>
                         <th>
                            valor
                         </th>
                      </tr>
                   </thead>
                   <tbody>
                      {% for periodo, valor in template.all %}
                      <tr class="alinhamento-texto">
                         <td>{{ periodo }}</td>
                         <td>{{ valor|intcomma }}</td>
                      </tr>
                      {% endfor %}
                   </tbody>
                   <tfoot>
                      <tr>
                         <th></th>
                         <th></th>
                      </tr>
                   </tfoot>
                </table>
             </div>
          </div>
       </div>
    </div>
</div>

{% endblock %}